STM32CubeMonitor/H26R0.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"8b5c2740.eceb08","type":"tab","label":"Load Cell","disabled":false,"info":"# Advanced Flow of STM32CubeMonitor to highlight possibilities"},{"id":"bf5e0692.702c58","type":"acquisition in","z":"8b5c2740.eceb08","name":"myProbe_In2","probeconfig":"d9a6039e.00014","x":110,"y":1140,"wires":[["67f962a8.8eb94c"],[]]},{"id":"67f962a8.8eb94c","type":"processing","z":"8b5c2740.eceb08","groupname":"Load cell Read","groupid":"a1e84590.740088","expressions":[],"statistics":[],"logmode":"no","x":300,"y":1140,"wires":[["70671437.4c215c","7647ce40.ca302"],[]]},{"id":"e1be7ae.6bc3b88","type":"acquisition out","z":"8b5c2740.eceb08","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":480,"y":60,"wires":[]},{"id":"a1e84590.740088","type":"variables","z":"8b5c2740.eceb08","groupname":"Load cell Read","accesspoint":0,"execonfig":"a787b700.adfa38","variablelist":[{"name":"weightSample","address":"0x20000008","type":"9"}],"triggerstartmode":"manual","triggername":"weightSample","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1633037694111,"openStatus":false,"x":300,"y":60,"wires":[["e1be7ae.6bc3b88"]]},{"id":"4051dde0.03fe84","type":"acquisition out","z":"8b5c2740.eceb08","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":660,"y":760,"wires":[]},{"id":"70671437.4c215c","type":"subflow:8381c865.236028","z":"8b5c2740.eceb08","name":"myFilter","env":[{"name":"varfilter","value":"weightSample","type":"str"}],"x":480,"y":1140,"wires":[["b891966a.978df8"]]},{"id":"6df5beaa.ebc87","type":"ui_text","z":"8b5c2740.eceb08","group":"da681b0f.62bbb8","order":1,"width":10,"height":1,"name":"","label":"Weight","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1140,"wires":[]},{"id":"b891966a.978df8","type":"function","z":"8b5c2740.eceb08","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)\nvar out=s;\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1140,"wires":[["6df5beaa.ebc87"]]},{"id":"b991adbf.6c481","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":2,"width":5,"height":1,"passthru":false,"label":"CONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":110,"y":60,"wires":[["a1e84590.740088"]]},{"id":"a863ac6f.995f7","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":3,"width":5,"height":1,"passthru":false,"label":"DISCONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":120,"y":100,"wires":[["a1e84590.740088"]]},{"id":"20a9e977.99b976","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":4,"width":0,"height":0,"passthru":false,"label":"Calibration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=362(calibration ","payloadType":"str","topic":"","x":110,"y":160,"wires":[["a675ecdc.be7bc"]]},{"id":"bfc69f8b.6162","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":12,"width":10,"height":1,"passthru":false,"label":"Zerocal","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=642(zerocal ","payloadType":"str","topic":"","x":100,"y":240,"wires":[["a675ecdc.be7bc"]]},{"id":"b587a86a.af3748","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":15,"width":0,"height":0,"passthru":false,"label":"Unit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=542(unit ","payloadType":"str","topic":"","x":90,"y":280,"wires":[["a675ecdc.be7bc"]]},{"id":"a090b3d9.e083d","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"full scale","tooltip":"","group":"443a2b78.e12064","order":5,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":100,"y":400,"wires":[["e049d9a2.638008"]]},{"id":"3944dcc0.cea404","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"cell output","tooltip":"","group":"443a2b78.e12064","order":6,"width":3,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":110,"y":440,"wires":[["deb40ef9.99362"]]},{"id":"82cf924.e988b7","type":"function","z":"8b5c2740.eceb08","name":"","func":"var s=\"#3\"+msg.payload+\" \";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["25e6aa04.4998a6"]]},{"id":"e049d9a2.638008","type":"change","z":"8b5c2740.eceb08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":400,"wires":[["82cf924.e988b7"]]},{"id":"42467355.04093c","type":"function","z":"8b5c2740.eceb08","name":"","func":"var s=\"#4\"+msg.payload+\" \";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["25e6aa04.4998a6"]]},{"id":"deb40ef9.99362","type":"change","z":"8b5c2740.eceb08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":440,"wires":[["42467355.04093c"]]},{"id":"91a4181b.1ab3d8","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"cell drift","tooltip":"","group":"443a2b78.e12064","order":7,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":100,"y":480,"wires":[["6248783f.54fb28"]]},{"id":"ecb7ff47.62e41","type":"function","z":"8b5c2740.eceb08","name":"","func":"var s=\"#5\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[["25e6aa04.4998a6"]]},{"id":"6248783f.54fb28","type":"change","z":"8b5c2740.eceb08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":480,"wires":[["ecb7ff47.62e41"]]},{"id":"3fb02763.601ec8","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":8,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":90,"y":740,"wires":[["64e1ae20.b2836"]]},{"id":"c0c8a53c.630458","type":"ui_dropdown","z":"8b5c2740.eceb08","name":"","label":"Unit","tooltip":"","place":"Select option","group":"443a2b78.e12064","order":16,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Gram","value":"g","type":"str"},{"label":"Kg","value":"kg","type":"str"},{"label":"Ounce","value":"ounce","type":"str"},{"label":"Bound","value":"lb","type":"str"}],"payload":"","topic":"","x":90,"y":560,"wires":[["5477322b.8bb5ec"]]},{"id":"1e49a5ab.5cda0a","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"6acbdb39.cd13f4","order":3,"width":3,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":120,"y":900,"wires":[["64e1ae20.b2836"]]},{"id":"eca69864.6348c8","type":"template","z":"8b5c2740.eceb08","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":310,"y":1000,"wires":[["ac08fe48.59d34"]]},{"id":"54de75df.ee643c","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"Sampling Time","tooltip":"","group":"6acbdb39.cd13f4","order":1,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":120,"y":1000,"wires":[["eca69864.6348c8"]]},{"id":"8082e670.66acf8","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":11,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":90,"y":700,"wires":[["64e1ae20.b2836"]]},{"id":"9a293ff2.6f469","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":14,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":90,"y":780,"wires":[["64e1ae20.b2836"]]},{"id":"4efda8a9.5dfad8","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":17,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":90,"y":820,"wires":[["64e1ae20.b2836"]]},{"id":"755d8b43.9d8f34","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"47e8acc8.d34184","order":2,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":90,"y":860,"wires":[["64e1ae20.b2836"]]},{"id":"510c8cd6.085954","type":"function","z":"8b5c2740.eceb08","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["3ddf0246.19f54e"]]},{"id":"25e6aa04.4998a6","type":"split","z":"8b5c2740.eceb08","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":490,"y":160,"wires":[["510c8cd6.085954"]]},{"id":"64e1ae20.b2836","type":"template","z":"8b5c2740.eceb08","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":430,"y":700,"wires":[["ac08fe48.59d34"]]},{"id":"5477322b.8bb5ec","type":"function","z":"8b5c2740.eceb08","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["25e6aa04.4998a6"]]},{"id":"e804ff7.6a27c","type":"function","z":"8b5c2740.eceb08","name":"","func":"if (msg.payload == \"=842(sample \" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Load_Cell_Stream\"],\"show\":[\"Load_Cell_Sample\"]}};\n    return msg;\n}\n\nif (msg.payload == \"3\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Load_Cell_Sample\"],\"show\":[\"Load_Cell_Stream\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["ebd9d44.deeec28"]]},{"id":"ebd9d44.deeec28","type":"ui_ui_control","z":"8b5c2740.eceb08","name":"","events":"connect","x":360,"y":360,"wires":[[]]},{"id":"86b7c90d.8d7f78","type":"template","z":"8b5c2740.eceb08","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":850,"y":200,"wires":[["ac08fe48.59d34"]]},{"id":"ac08fe48.59d34","type":"change","z":"8b5c2740.eceb08","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":700,"wires":[["4051dde0.03fe84"]]},{"id":"ead29e6b.578f","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"6acbdb39.cd13f4","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":130,"y":940,"wires":[["64e1ae20.b2836"]]},{"id":"a3f74e2f.ade22","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":18,"width":5,"height":1,"passthru":false,"label":"Sample","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=842(sample ","payloadType":"str","topic":"","x":100,"y":320,"wires":[["e804ff7.6a27c","a675ecdc.be7bc"]]},{"id":"8a149d3f.ed486","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":19,"width":5,"height":1,"passthru":false,"label":"Stream (Optional)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":130,"y":360,"wires":[["e804ff7.6a27c"]]},{"id":"4e3be375.e046dc","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"CHANNEL","tooltip":"1 or 2","group":"443a2b78.e12064","order":13,"width":7,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":600,"wires":[["5477322b.8bb5ec"]]},{"id":"d955f29c.f1ff4","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"CHANNEL","tooltip":"1 or 2","group":"47e8acc8.d34184","order":1,"width":7,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":640,"wires":[["5477322b.8bb5ec"]]},{"id":"cb376a75.969258","type":"ui_text_input","z":"8b5c2740.eceb08","name":"","label":"Rate VALUE","tooltip":"10 or 80","group":"443a2b78.e12064","order":10,"width":7,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":110,"y":520,"wires":[["5477322b.8bb5ec"]]},{"id":"79a4b6a4.6c6218","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":9,"width":0,"height":0,"passthru":false,"label":"Rate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"=442(rate ","payloadType":"str","topic":"","x":90,"y":200,"wires":[["a675ecdc.be7bc"]]},{"id":"43cde132.ea069","type":"ui_chartst","z":"8b5c2740.eceb08","group":"da681b0f.62bbb8","name":"Weight","order":2,"width":10,"height":11,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":670,"y":1100,"wires":[]},{"id":"79418f27.09ff2","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"da681b0f.62bbb8","order":3,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPHS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":630,"y":1060,"wires":[["43cde132.ea069"]]},{"id":"7647ce40.ca302","type":"switch","z":"8b5c2740.eceb08","name":"sampleWeight","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"weightSample","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":1100,"wires":[["43cde132.ea069"]]},{"id":"31fcd3c4.a5081c","type":"delay","z":"8b5c2740.eceb08","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.002","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":160,"wires":[["86b7c90d.8d7f78"]]},{"id":"3ddf0246.19f54e","type":"change","z":"8b5c2740.eceb08","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"num","to":"13","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"41","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":160,"wires":[["31fcd3c4.a5081c"]]},{"id":"a675ecdc.be7bc","type":"function","z":"8b5c2740.eceb08","name":"","func":"var s=msg.payload;\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n\n\n/*msg.payload=s;\nreturn msg;*/","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["25e6aa04.4998a6"]]},{"id":"1ac64dff.8c79c2","type":"ui_button","z":"8b5c2740.eceb08","name":"","group":"443a2b78.e12064","order":1,"width":10,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":100,"y":1040,"wires":[["eca69864.6348c8"]]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"a787b700.adfa38","type":"exe-config","z":"","name":"Load_cell","exefile":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H26R0x\\STM32CubeIDE\\H26R0x\\H26R0x.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H26R0x\\STM32CubeIDE\\H26R0x","exevariablelist":[{"address":"0x0801996c","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x20001970","name":"acceptedMsg","type":3},{"address":"0x20001165","name":"ACK_FLAG","type":1},{"address":"0x080194b8","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080194ac","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x080194b0","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x080194b4","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000191c","name":"ADC_flag","type":1},{"address":"0x2000192c","name":"ADC_value_temp","type":3},{"address":"0x2000192e","name":"ADC_value_Vref","type":3},{"address":"0x20001940","name":"ADCchannelvalue[0]","type":3},{"address":"0x20001a30","name":"ADCPercentage","type":9},{"address":"0x20001a20","name":"ADCPort","type":3},{"address":"0x08019518","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801950c","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x08019510","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x08019514","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a22","name":"ADCSide","type":3},{"address":"0x20001a24","name":"ADCValue","type":9},{"address":"0x20001138","name":"AddBcastPayload","type":1},{"address":"0x080193f8","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080193ec","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x080193f0","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x080193f4","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000cc","name":"AHBPrescTable[0]","type":1},{"address":"0x20007734","name":"arrayPortsDir[0]","type":3},{"address":"0x20001730","name":"BackEndTaskHandle","type":5},{"address":"0x20000c70","name":"bcastID","type":1},{"address":"0x20000b94","name":"bcastRoutes[0]","type":3},{"address":"0x08019378","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801936c","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x08019370","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x08019374","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200023a4","name":"bootStatus","type":1},{"address":"0x2000728c","name":"BOS.buttons.debounce","type":3},{"address":"0x20007291","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20007290","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x2000728e","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20007294","name":"BOS.clibaudrate","type":5},{"address":"0x200072a1","name":"BOS.date.day","type":1},{"address":"0x200072a2","name":"BOS.date.month","type":1},{"address":"0x200072a0","name":"BOS.date.weekday","type":1},{"address":"0x200072a4","name":"BOS.date.year","type":3},{"address":"0x20007298","name":"BOS.daylightsaving","type":1},{"address":"0x200072a6","name":"BOS.disableCLI","type":1},{"address":"0x20007299","name":"BOS.hourformat","type":1},{"address":"0x2000729f","name":"BOS.time.ampm","type":1},{"address":"0x2000729e","name":"BOS.time.hours","type":1},{"address":"0x2000729d","name":"BOS.time.minutes","type":1},{"address":"0x2000729a","name":"BOS.time.msec","type":3},{"address":"0x2000729c","name":"BOS.time.seconds","type":1},{"address":"0x2000001c","name":"BOS_default.buttons.debounce","type":3},{"address":"0x20000021","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x20000020","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x2000001e","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x20000024","name":"BOS_default.clibaudrate","type":5},{"address":"0x20000031","name":"BOS_default.date.day","type":1},{"address":"0x20000032","name":"BOS_default.date.month","type":1},{"address":"0x20000030","name":"BOS_default.date.weekday","type":1},{"address":"0x20000034","name":"BOS_default.date.year","type":3},{"address":"0x20000028","name":"BOS_default.daylightsaving","type":1},{"address":"0x20000036","name":"BOS_default.disableCLI","type":1},{"address":"0x20000029","name":"BOS_default.hourformat","type":1},{"address":"0x2000002f","name":"BOS_default.time.ampm","type":1},{"address":"0x2000002e","name":"BOS_default.time.hours","type":1},{"address":"0x2000002d","name":"BOS_default.time.minutes","type":1},{"address":"0x2000002a","name":"BOS_default.time.msec","type":3},{"address":"0x2000002c","name":"BOS_default.time.seconds","type":1},{"address":"0x20000c65","name":"BOS_initialized","type":1},{"address":"0x20007214","name":"BOS_var_reg[0]","type":5},{"address":"0x20007210","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x2000720e","name":"BOSMessaging.overrun","type":1},{"address":"0x2000720f","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x2000720c","name":"BOSMessaging.response","type":1},{"address":"0x2000720d","name":"BOSMessaging.trace","type":2},{"address":"0x20007212","name":"BOSMessaging.trial","type":4},{"address":"0x20000018","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x20000016","name":"BOSMessging_default.overrun","type":1},{"address":"0x20000017","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x20000014","name":"BOSMessging_default.response","type":1},{"address":"0x20000015","name":"BOSMessging_default.trace","type":2},{"address":"0x2000001a","name":"BOSMessging_default.trial","type":4},{"address":"0x080194e8","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080194dc","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x080194e0","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x080194e4","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000dd0","name":"broadcastResponse[0]","type":1},{"address":"0x200018bc","name":"button[0].events","type":1},{"address":"0x200018b6","name":"button[0].pressedX1Sec","type":1},{"address":"0x200018b7","name":"button[0].pressedX2Sec","type":1},{"address":"0x200018b8","name":"button[0].pressedX3Sec","type":1},{"address":"0x200018b9","name":"button[0].releasedY1Sec","type":1},{"address":"0x200018ba","name":"button[0].releasedY2Sec","type":1},{"address":"0x200018bb","name":"button[0].releasedY3Sec","type":1},{"address":"0x200018b4","name":"button[0].state","type":1},{"address":"0x200018b5","name":"button[0].type","type":1},{"address":"0x20001b74","name":"calibration_factor","type":9},{"address":"0x080198cc","name":"calibrationCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080198c0","name":"calibrationCommandDefinition.pcCommand","type":5},{"address":"0x080198c4","name":"calibrationCommandDefinition.pcHelpString","type":5},{"address":"0x080198c8","name":"calibrationCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000a0","name":"cell_drift","type":9},{"address":"0x20001b6c","name":"cell_output","type":9},{"address":"0x20001930","name":"Channel","type":1},{"address":"0x20000b62","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x2000732e","name":"counter","type":1},{"address":"0x200023b8","name":"cOutputBuffer[0]","type":2},{"address":"0x20001330","name":"crcBuffer[0]","type":1},{"address":"0x20000c75","name":"cRxedChar","type":2},{"address":"0x20001938","name":"current","type":9},{"address":"0x20001b79","name":"Current_pin_state","type":1},{"address":"0x20000005","name":"currentCharacter","type":1,"checked":false},{"address":"0x20001b7c","name":"Data","type":5},{"address":"0x20001ba4","name":"DATA_To_SEND","type":9},{"address":"0x0801990c","name":"dataformatCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019900","name":"dataformatCommandDefinition.pcCommand","type":5},{"address":"0x08019904","name":"dataformatCommandDefinition.pcHelpString","type":5},{"address":"0x08019908","name":"dataformatCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001728","name":"DataVar","type":3},{"address":"0x08019458","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801944c","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x08019450","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x08019454","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000194c","name":"dblCounter[0]","type":1},{"address":"0x08019438","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801942c","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x08019430","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x08019434","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000172c","name":"defaultTaskHandle","type":5},{"address":"0x20001948","name":"delayButtonStateReset","type":1},{"address":"0x080194d8","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080194cc","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x080194d0","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x080194d4","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801986c","name":"demoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019860","name":"demoCommandDefinition.pcCommand","type":5},{"address":"0x08019864","name":"demoCommandDefinition.pcHelpString","type":5},{"address":"0x08019868","name":"demoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000734f","name":"desiredArray","type":1},{"address":"0x2000734e","name":"digitTheCommand","type":1},{"address":"0x200012e4","name":"dmaStreamCount[0]","type":5},{"address":"0x2000130c","name":"dmaStreamDst[0]","type":5},{"address":"0x200012f8","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000058","name":"dstGroupID","type":1},{"address":"0x20001bb0","name":"EE_full_scale","type":3},{"address":"0x08019388","name":"exploreCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801937c","name":"exploreCommandDefinition.pcCommand","type":5},{"address":"0x08019380","name":"exploreCommandDefinition.pcHelpString","type":5},{"address":"0x08019384","name":"exploreCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200017f4","name":"finalMatrix[0]","type":1},{"address":"0x20007350","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1,"checked":false},{"address":"0x08019498","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801948c","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x08019490","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x08019494","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001fe8","name":"frontendDMA[0].ErrorCode","type":5},{"address":"0x20001fb8","name":"frontendDMA[0].Init.Direction","type":5},{"address":"0x20001fc8","name":"frontendDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001fc0","name":"frontendDMA[0].Init.MemInc","type":5},{"address":"0x20001fcc","name":"frontendDMA[0].Init.Mode","type":5},{"address":"0x20001fc4","name":"frontendDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001fbc","name":"frontendDMA[0].Init.PeriphInc","type":5},{"address":"0x20001fd0","name":"frontendDMA[0].Init.Priority","type":5},{"address":"0x20001fb4","name":"frontendDMA[0].Instance","type":5},{"address":"0x20001fd4","name":"frontendDMA[0].Lock","type":2},{"address":"0x20001fd8","name":"frontendDMA[0].Parent","type":5},{"address":"0x20001fd5","name":"frontendDMA[0].State","type":2},{"address":"0x20001fdc","name":"frontendDMA[0].XferCpltCallback","type":5},{"address":"0x20001fe4","name":"frontendDMA[0].XferErrorCallback","type":5},{"address":"0x20001fe0","name":"frontendDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20001b60","name":"full_scale","type":3},{"address":"0x200000a4","name":"gain","type":1},{"address":"0x08019428","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801941c","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x08019420","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x08019424","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019548","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801953c","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x08019540","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x08019544","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x20007430","name":"global_ch","type":1},{"address":"0x20007431","name":"global_mode","type":1},{"address":"0x20007670","name":"global_module","type":1},{"address":"0x200075fc","name":"global_period","type":5},{"address":"0x20007432","name":"global_port","type":1},{"address":"0x20007674","name":"global_timeout","type":5},{"address":"0x080193b8","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080193ac","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x080193b0","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x080193b4","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000ac4","name":"groupModules[0]","type":3},{"address":"0x200000a5","name":"H26R0_DATA_FORMAT","type":1},{"address":"0x20001ba8","name":"H26R0_Weight1","type":9},{"address":"0x20001bac","name":"H26R0_Weight2","type":9},{"address":"0x20007390","name":"hadc.DMA_Handle","type":5},{"address":"0x2000739c","name":"hadc.ErrorCode","type":5},{"address":"0x20007358","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20007374","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20007360","name":"hadc.Init.DataAlign","type":5},{"address":"0x20007378","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20007384","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20007368","name":"hadc.Init.EOCSelection","type":5},{"address":"0x2000737c","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20007380","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20007370","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x2000736c","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x20007388","name":"hadc.Init.Overrun","type":5},{"address":"0x2000735c","name":"hadc.Init.Resolution","type":5},{"address":"0x2000738c","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x20007364","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20007354","name":"hadc.Instance","type":5},{"address":"0x20007394","name":"hadc.Lock","type":2},{"address":"0x20007398","name":"hadc.State","type":5},{"address":"0x20007684","name":"hcrc.Init.CRCLength","type":5},{"address":"0x2000767d","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x2000767c","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x20007680","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x20007688","name":"hcrc.Init.InitValue","type":5},{"address":"0x2000768c","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x20007690","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x20007698","name":"hcrc.InputDataFormat","type":5},{"address":"0x20007678","name":"hcrc.Instance","type":5},{"address":"0x20007694","name":"hcrc.Lock","type":2},{"address":"0x20007695","name":"hcrc.State","type":2},{"address":"0x20007710","name":"htim14.Channel","type":2},{"address":"0x20007714","name":"htim14.hdma[0]","type":5},{"address":"0x20007708","name":"htim14.Init.ClockDivision","type":5},{"address":"0x20007700","name":"htim14.Init.CounterMode","type":5},{"address":"0x20007704","name":"htim14.Init.Period","type":5},{"address":"0x200076fc","name":"htim14.Init.Prescaler","type":5},{"address":"0x2000770c","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x200076f8","name":"htim14.Instance","type":5},{"address":"0x20007730","name":"htim14.Lock","type":2},{"address":"0x20007731","name":"htim14.State","type":2},{"address":"0x200076d4","name":"htim15.Channel","type":2},{"address":"0x200076d8","name":"htim15.hdma[0]","type":5},{"address":"0x200076cc","name":"htim15.Init.ClockDivision","type":5},{"address":"0x200076c4","name":"htim15.Init.CounterMode","type":5},{"address":"0x200076c8","name":"htim15.Init.Period","type":5},{"address":"0x200076c0","name":"htim15.Init.Prescaler","type":5},{"address":"0x200076d0","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x200076bc","name":"htim15.Instance","type":5},{"address":"0x200076f4","name":"htim15.Lock","type":2},{"address":"0x200076f5","name":"htim15.State","type":2},{"address":"0x200074cc","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200074e8","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200074ec","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200074d8","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x200074e4","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200074f0","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x200074e0","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x200074d4","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200074dc","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x200074d0","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007514","name":"huart1.ErrorCode","type":5},{"address":"0x2000750c","name":"huart1.hdmarx","type":5},{"address":"0x20007508","name":"huart1.hdmatx","type":5},{"address":"0x200074ac","name":"huart1.Init.BaudRate","type":5},{"address":"0x200074c0","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x200074bc","name":"huart1.Init.Mode","type":5},{"address":"0x200074c8","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x200074c4","name":"huart1.Init.OverSampling","type":5},{"address":"0x200074b8","name":"huart1.Init.Parity","type":5},{"address":"0x200074b4","name":"huart1.Init.StopBits","type":5},{"address":"0x200074b0","name":"huart1.Init.WordLength","type":5},{"address":"0x200074a8","name":"huart1.Instance","type":5},{"address":"0x20007510","name":"huart1.Lock","type":2},{"address":"0x20007504","name":"huart1.Mask","type":3},{"address":"0x200074fc","name":"huart1.pRxBuffPtr","type":5},{"address":"0x200074f4","name":"huart1.pTxBuffPtr","type":5},{"address":"0x20007502","name":"huart1.RxXferCount","type":3},{"address":"0x20007500","name":"huart1.RxXferSize","type":3},{"address":"0x20007511","name":"huart1.State","type":2},{"address":"0x200074fa","name":"huart1.TxXferCount","type":3},{"address":"0x200074f8","name":"huart1.TxXferSize","type":3},{"address":"0x20007624","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007640","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007644","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007630","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x2000763c","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007648","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x20007638","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x2000762c","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007634","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x20007628","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x2000766c","name":"huart2.ErrorCode","type":5},{"address":"0x20007664","name":"huart2.hdmarx","type":5},{"address":"0x20007660","name":"huart2.hdmatx","type":5},{"address":"0x20007604","name":"huart2.Init.BaudRate","type":5},{"address":"0x20007618","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x20007614","name":"huart2.Init.Mode","type":5},{"address":"0x20007620","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x2000761c","name":"huart2.Init.OverSampling","type":5},{"address":"0x20007610","name":"huart2.Init.Parity","type":5},{"address":"0x2000760c","name":"huart2.Init.StopBits","type":5},{"address":"0x20007608","name":"huart2.Init.WordLength","type":5},{"address":"0x20007600","name":"huart2.Instance","type":5},{"address":"0x20007668","name":"huart2.Lock","type":2},{"address":"0x2000765c","name":"huart2.Mask","type":3},{"address":"0x20007654","name":"huart2.pRxBuffPtr","type":5},{"address":"0x2000764c","name":"huart2.pTxBuffPtr","type":5},{"address":"0x2000765a","name":"huart2.RxXferCount","type":3},{"address":"0x20007658","name":"huart2.RxXferSize","type":3},{"address":"0x20007669","name":"huart2.State","type":2},{"address":"0x20007652","name":"huart2.TxXferCount","type":3},{"address":"0x20007650","name":"huart2.TxXferSize","type":3},{"address":"0x200073e4","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007400","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007404","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200073f0","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x200073fc","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007408","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x200073f8","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x200073ec","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200073f4","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x200073e8","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x2000742c","name":"huart3.ErrorCode","type":5},{"address":"0x20007424","name":"huart3.hdmarx","type":5},{"address":"0x20007420","name":"huart3.hdmatx","type":5},{"address":"0x200073c4","name":"huart3.Init.BaudRate","type":5},{"address":"0x200073d8","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x200073d4","name":"huart3.Init.Mode","type":5},{"address":"0x200073e0","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x200073dc","name":"huart3.Init.OverSampling","type":5},{"address":"0x200073d0","name":"huart3.Init.Parity","type":5},{"address":"0x200073cc","name":"huart3.Init.StopBits","type":5},{"address":"0x200073c8","name":"huart3.Init.WordLength","type":5},{"address":"0x200073c0","name":"huart3.Instance","type":5},{"address":"0x20007428","name":"huart3.Lock","type":2},{"address":"0x2000741c","name":"huart3.Mask","type":3},{"address":"0x20007414","name":"huart3.pRxBuffPtr","type":5},{"address":"0x2000740c","name":"huart3.pTxBuffPtr","type":5},{"address":"0x2000741a","name":"huart3.RxXferCount","type":3},{"address":"0x20007418","name":"huart3.RxXferSize","type":3},{"address":"0x20007429","name":"huart3.State","type":2},{"address":"0x20007412","name":"huart3.TxXferCount","type":3},{"address":"0x20007410","name":"huart3.TxXferSize","type":3},{"address":"0x200075b0","name":"huart4.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200075cc","name":"huart4.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200075d0","name":"huart4.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200075bc","name":"huart4.AdvancedInit.DataInvert","type":5},{"address":"0x200075c8","name":"huart4.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200075d4","name":"huart4.AdvancedInit.MSBFirst","type":5},{"address":"0x200075c4","name":"huart4.AdvancedInit.OverrunDisable","type":5},{"address":"0x200075b8","name":"huart4.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200075c0","name":"huart4.AdvancedInit.Swap","type":5},{"address":"0x200075b4","name":"huart4.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200075f8","name":"huart4.ErrorCode","type":5},{"address":"0x200075f0","name":"huart4.hdmarx","type":5},{"address":"0x200075ec","name":"huart4.hdmatx","type":5},{"address":"0x20007590","name":"huart4.Init.BaudRate","type":5},{"address":"0x200075a4","name":"huart4.Init.HwFlowCtl","type":5},{"address":"0x200075a0","name":"huart4.Init.Mode","type":5},{"address":"0x200075ac","name":"huart4.Init.OneBitSampling","type":5},{"address":"0x200075a8","name":"huart4.Init.OverSampling","type":5},{"address":"0x2000759c","name":"huart4.Init.Parity","type":5},{"address":"0x20007598","name":"huart4.Init.StopBits","type":5},{"address":"0x20007594","name":"huart4.Init.WordLength","type":5},{"address":"0x2000758c","name":"huart4.Instance","type":5},{"address":"0x200075f4","name":"huart4.Lock","type":2},{"address":"0x200075e8","name":"huart4.Mask","type":3},{"address":"0x200075e0","name":"huart4.pRxBuffPtr","type":5},{"address":"0x200075d8","name":"huart4.pTxBuffPtr","type":5},{"address":"0x200075e6","name":"huart4.RxXferCount","type":3},{"address":"0x200075e4","name":"huart4.RxXferSize","type":3},{"address":"0x200075f5","name":"huart4.State","type":2},{"address":"0x200075de","name":"huart4.TxXferCount","type":3},{"address":"0x200075dc","name":"huart4.TxXferSize","type":3},{"address":"0x20007458","name":"huart5.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007474","name":"huart5.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007478","name":"huart5.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007464","name":"huart5.AdvancedInit.DataInvert","type":5},{"address":"0x20007470","name":"huart5.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x2000747c","name":"huart5.AdvancedInit.MSBFirst","type":5},{"address":"0x2000746c","name":"huart5.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007460","name":"huart5.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007468","name":"huart5.AdvancedInit.Swap","type":5},{"address":"0x2000745c","name":"huart5.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200074a0","name":"huart5.ErrorCode","type":5},{"address":"0x20007498","name":"huart5.hdmarx","type":5},{"address":"0x20007494","name":"huart5.hdmatx","type":5},{"address":"0x20007438","name":"huart5.Init.BaudRate","type":5},{"address":"0x2000744c","name":"huart5.Init.HwFlowCtl","type":5},{"address":"0x20007448","name":"huart5.Init.Mode","type":5},{"address":"0x20007454","name":"huart5.Init.OneBitSampling","type":5},{"address":"0x20007450","name":"huart5.Init.OverSampling","type":5},{"address":"0x20007444","name":"huart5.Init.Parity","type":5},{"address":"0x20007440","name":"huart5.Init.StopBits","type":5},{"address":"0x2000743c","name":"huart5.Init.WordLength","type":5},{"address":"0x20007434","name":"huart5.Instance","type":5},{"address":"0x2000749c","name":"huart5.Lock","type":2},{"address":"0x20007490","name":"huart5.Mask","type":3},{"address":"0x20007488","name":"huart5.pRxBuffPtr","type":5},{"address":"0x20007480","name":"huart5.pTxBuffPtr","type":5},{"address":"0x2000748e","name":"huart5.RxXferCount","type":3},{"address":"0x2000748c","name":"huart5.RxXferSize","type":3},{"address":"0x2000749d","name":"huart5.State","type":2},{"address":"0x20007486","name":"huart5.TxXferCount","type":3},{"address":"0x20007484","name":"huart5.TxXferSize","type":3},{"address":"0x20007540","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x2000755c","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20007560","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x2000754c","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x20007558","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007564","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x20007554","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007548","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20007550","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x20007544","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007588","name":"huart6.ErrorCode","type":5},{"address":"0x20007580","name":"huart6.hdmarx","type":5},{"address":"0x2000757c","name":"huart6.hdmatx","type":5},{"address":"0x20007520","name":"huart6.Init.BaudRate","type":5},{"address":"0x20007534","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x20007530","name":"huart6.Init.Mode","type":5},{"address":"0x2000753c","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x20007538","name":"huart6.Init.OverSampling","type":5},{"address":"0x2000752c","name":"huart6.Init.Parity","type":5},{"address":"0x20007528","name":"huart6.Init.StopBits","type":5},{"address":"0x20007524","name":"huart6.Init.WordLength","type":5},{"address":"0x2000751c","name":"huart6.Instance","type":5},{"address":"0x20007584","name":"huart6.Lock","type":2},{"address":"0x20007578","name":"huart6.Mask","type":3},{"address":"0x20007570","name":"huart6.pRxBuffPtr","type":5},{"address":"0x20007568","name":"huart6.pTxBuffPtr","type":5},{"address":"0x20007576","name":"huart6.RxXferCount","type":3},{"address":"0x20007574","name":"huart6.RxXferSize","type":3},{"address":"0x20007585","name":"huart6.State","type":2},{"address":"0x2000756e","name":"huart6.TxXferCount","type":3},{"address":"0x2000756c","name":"huart6.TxXferSize","type":3},{"address":"0x08019488","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801947c","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x08019480","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x08019484","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000732f","name":"index","type":1},{"address":"0x20001166","name":"indMode","type":1},{"address":"0x080193d8","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080193cc","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x080193d0","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x080193d4","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a2c","name":"InternalTemperature","type":9},{"address":"0x20001a28","name":"InternalVoltageReferance","type":9},{"address":"0x20001b5c","name":"LoadcellHandle","type":5},{"address":"0x20000c74","name":"longMessage","type":1},{"address":"0x20000c72","name":"longMessageLastPtr","type":3},{"address":"0x20001a34","name":"longMessageScratchpad[0]","type":1},{"address":"0x200019fc","name":"MBmessageParams[0]","type":5},{"address":"0x20000c80","name":"message[0]","type":2},{"address":"0x20000c78","name":"messageLength[0]","type":1},{"address":"0x20000b64","name":"messageParams[0]","type":1},{"address":"0x200000ac","name":"modParam[0].paramFormat","type":2},{"address":"0x200000b0","name":"modParam[0].paramName","type":5},{"address":"0x200000a8","name":"modParam[0].paramPtr","type":5},{"address":"0x2000005c","name":"monthStringAbreviated[0]","type":5},{"address":"0x20001320","name":"MsgDMAStopped[0]","type":1},{"address":"0x20002288","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x20002258","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x20002268","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20002260","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x2000226c","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x20002264","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x2000225c","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20002270","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x20002254","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20002274","name":"msgRxDMA[0].Lock","type":2},{"address":"0x20002278","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20002275","name":"msgRxDMA[0].State","type":2},{"address":"0x2000227c","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x20002284","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x20002280","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x200021e0","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x200021b0","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x200021c0","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x200021b8","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x200021c4","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x200021bc","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x200021b4","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x200021c8","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x200021ac","name":"msgTxDMA[0].Instance","type":5},{"address":"0x200021cc","name":"msgTxDMA[0].Lock","type":2},{"address":"0x200021d0","name":"msgTxDMA[0].Parent","type":5},{"address":"0x200021cd","name":"msgTxDMA[0].State","type":2},{"address":"0x200021d4","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x200021dc","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x200021d8","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000ac0","name":"myID","type":1},{"address":"0x20000038","name":"myPN","type":3},{"address":"0x20000010","name":"N","type":1},{"address":"0x080193a8","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801939c","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x080193a0","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x080193a4","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001953","name":"needToDelayButtonStateReset","type":1},{"address":"0x20001750","name":"nonProcessingParameter[0]","type":1},{"address":"0x2000732d","name":"nonProcessingParameterIndex","type":1},{"address":"0x2000734c","name":"numCommandParameters","type":1},{"address":"0x20007208","name":"numOfBosCommands","type":1},{"address":"0x20001168","name":"numOfRecordedSnippets","type":1},{"address":"0x2000173c","name":"P1MsgTaskHandle","type":5},{"address":"0x20001740","name":"P2MsgTaskHandle","type":5},{"address":"0x20001744","name":"P3MsgTaskHandle","type":5},{"address":"0x20001748","name":"P4MsgTaskHandle","type":5},{"address":"0x2000174c","name":"P5MsgTaskHandle","type":5},{"address":"0x2000196c","name":"packetEnd","type":6},{"address":"0x20001964","name":"packetLength","type":6},{"address":"0x20001960","name":"packetStart","type":6},{"address":"0x20001968","name":"parseStart","type":6},{"address":"0x080194c8","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080194bc","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x080194c0","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x080194c4","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000008c","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x2000003c","name":"pcParamsHelpString[0]","type":5},{"address":"0x20000c50","name":"PcPort","type":1},{"address":"0x20000098","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x20000094","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x20000090","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000c00","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x200011a0","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x20001934","name":"percentage","type":9},{"address":"0x2000730c","name":"perviousCharacter","type":1},{"address":"0x200077b0","name":"pFlash.Address","type":5},{"address":"0x200077ac","name":"pFlash.DataRemaining","type":5},{"address":"0x200077c4","name":"pFlash.ErrorCode","type":5},{"address":"0x200077c0","name":"pFlash.Lock","type":2},{"address":"0x200077a8","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x08019368","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801935c","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x08019360","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x08019364","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000c54","name":"portStatus[0]","type":1},{"address":"0x200018ec","name":"pressCounter[0]","type":5},{"address":"0x20001764","name":"ProcessingParameter[0]","type":1},{"address":"0x2000732c","name":"processingParameterIndex","type":1},{"address":"0x08019358","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801934c","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x08019350","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08019354","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019348","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801933c","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x08019340","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08019344","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007518","name":"ptr_weight_buffer","type":5},{"address":"0x20001b78","name":"pulses","type":1},{"address":"0x20007070","name":"pxCurrentTCB","type":5},{"address":"0x200071c0","name":"pxCurrentTimerList","type":5},{"address":"0x2000706c","name":"pxDelayedTaskList","type":5},{"address":"0x20002624","name":"pxEnd","type":5},{"address":"0x20007078","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x200071c4","name":"pxOverflowTimerList","type":5},{"address":"0x2000710c","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x20007108","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x20007114","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x20007118","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x20007110","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x20007330","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x20007310","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x2000193c","name":"Rank_t","type":1},{"address":"0x20001b8c","name":"rate","type":1},{"address":"0x080198bc","name":"rateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080198b0","name":"rateCommandDefinition.pcCommand","type":5},{"address":"0x080198b4","name":"rateCommandDefinition.pcHelpString","type":5},{"address":"0x080198b8","name":"rateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b88","name":"rawvalue","type":9},{"address":"0x08019528","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801951c","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x08019520","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x08019524","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x08019538","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801952c","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x08019530","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x08019534","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x20001164","name":"rejected_FLAG","type":1},{"address":"0x20001972","name":"rejectedMsg","type":3},{"address":"0x20001904","name":"releaseCounter[0]","type":5},{"address":"0x2000003a","name":"remoteVarFormat","type":2},{"address":"0x08019408","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080193fc","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x08019400","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08019404","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019398","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801938c","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x08019390","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x08019394","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000c64","name":"responseStatus","type":2},{"address":"0x200073a0","name":"route[0]","type":1},{"address":"0x20000bc8","name":"routeDist[0]","type":1},{"address":"0x20000be4","name":"routePrev[0]","type":1},{"address":"0x200076a4","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x200076a0","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x200076ac","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x200076b0","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x200076b4","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x200076a8","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x2000769c","name":"RtcHandle.Instance","type":5},{"address":"0x200076b8","name":"RtcHandle.Lock","type":2},{"address":"0x200076b9","name":"RtcHandle.State","type":2},{"address":"0x20001bb4","name":"Sample[0]","type":9},{"address":"0x0801987c","name":"sampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019870","name":"sampleCommandDefinition.pcCommand","type":5},{"address":"0x08019874","name":"sampleCommandDefinition.pcHelpString","type":5},{"address":"0x08019878","name":"sampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x080193e8","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080193dc","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x080193e0","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x080193e4","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001920","name":"sConfig.Channel","type":5},{"address":"0x20001924","name":"sConfig.Rank","type":5},{"address":"0x20001928","name":"sConfig.SamplingTime","type":5},{"address":"0x08019468","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801945c","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x08019460","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x08019464","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019418","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801940c","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x08019410","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x08019414","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x080194a8","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801949c","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x080194a0","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x080194a4","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200072b4","name":"snippets[0].cmd","type":5},{"address":"0x200072aa","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x200072ae","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x200072a8","name":"snippets[0].cond.conditionType","type":1},{"address":"0x200072a9","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x200072b8","name":"snippets[0].state","type":1},{"address":"0x20001b54","name":"startMeasurementRanging","type":1},{"address":"0x080193c8","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080193bc","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x080193c0","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x080193c4","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801989c","name":"stopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019890","name":"stopCommandDefinition.pcCommand","type":5},{"address":"0x08019894","name":"stopCommandDefinition.pcHelpString","type":5},{"address":"0x08019898","name":"stopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801988c","name":"streamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019880","name":"streamCommandDefinition.pcCommand","type":5},{"address":"0x08019884","name":"streamCommandDefinition.pcHelpString","type":5},{"address":"0x08019888","name":"streamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20002090","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20002060","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20002070","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20002068","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20002074","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x2000206c","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20002064","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x20002078","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x2000205c","name":"streamDMA[0].Instance","type":5},{"address":"0x2000207c","name":"streamDMA[0].Lock","type":2},{"address":"0x20002080","name":"streamDMA[0].Parent","type":5},{"address":"0x2000207d","name":"streamDMA[0].State","type":2},{"address":"0x20002084","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x2000208c","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x20002088","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x200000dc","name":"SystemCoreClock","type":5},{"address":"0x20001b68","name":"temp32","type":5},{"address":"0x08019508","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080194fc","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x08019500","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x08019504","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000000","name":"time","type":5,"checked":false},{"address":"0x08019448","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801943c","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x08019440","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x08019444","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b52","name":"timedoutMsg","type":3},{"address":"0x2000195c","name":"totalnumberofrecevedmesg","type":5},{"address":"0x20001958","name":"totalnumberoftransmiitedmesg","type":5},{"address":"0x2000734d","name":"twoDMatrixIndex","type":1},{"address":"0x20001328","name":"UARTRxBufIndex[0]","type":1},{"address":"0x20002634","name":"ucHeap[0]","type":1},{"address":"0x200017f0","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x200070f4","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x080194f8","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080194ec","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x080194f0","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x080194f4","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000009c","name":"unit","type":1},{"address":"0x080198ac","name":"unitCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080198a0","name":"unitCommandDefinition.pcCommand","type":5},{"address":"0x080198a4","name":"unitCommandDefinition.pcHelpString","type":5},{"address":"0x080198a8","name":"unitCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001734","name":"UserTaskHandle","type":5},{"address":"0x08019478","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801946c","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x08019470","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x08019474","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200071cc","name":"uwTick","type":5},{"address":"0x200000ec","name":"uxCriticalNesting","type":5},{"address":"0x2000707c","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x20007104","name":"uxPendedTicks","type":5},{"address":"0x200070fc","name":"uxSchedulerSuspended","type":5},{"address":"0x200070e8","name":"uxTaskNumber","type":5},{"address":"0x200070f8","name":"uxTasksDeleted","type":5},{"address":"0x200070ec","name":"uxTopReadyPriority","type":5},{"address":"0x20001b80","name":"value","type":5},{"address":"0x20001b84","name":"valuef","type":9},{"address":"0x080191fc","name":"weekdayString[0]","type":5},{"address":"0x00000000","name":"weight","type":9},{"address":"0x200074a4","name":"weight1_buffer","type":9},{"address":"0x080198ec","name":"weight1CommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080198e0","name":"weight1CommandDefinition.pcCommand","type":5},{"address":"0x080198e4","name":"weight1CommandDefinition.pcHelpString","type":5},{"address":"0x080198e8","name":"weight1CommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200073bc","name":"weight2_buffer","type":9},{"address":"0x080198fc","name":"weight2CommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080198f0","name":"weight2CommandDefinition.pcCommand","type":5},{"address":"0x080198f4","name":"weight2CommandDefinition.pcHelpString","type":5},{"address":"0x080198f8","name":"weight2CommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b90","name":"weightGram","type":9},{"address":"0x20001b94","name":"weightKGram","type":9},{"address":"0x20001b98","name":"weightOunce","type":9},{"address":"0x20001b9c","name":"weightPound","type":9},{"address":"0x20000008","name":"weightSample","type":9,"checked":false},{"address":"0x20001b62","name":"word_LSB","type":3},{"address":"0x20001b64","name":"word_MSB","type":3},{"address":"0x2000719c","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x20007198","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x200071a4","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x200071a8","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x200071a0","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x200071b0","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x200071ac","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x200071b8","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x200071bc","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x200071b4","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x20002628","name":"xBlockAllocatedBit","type":5},{"address":"0x20001738","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x20007084","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x20007080","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x2000708c","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x20007090","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x20007088","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x20007098","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x20007094","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x200070a0","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x200070a4","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x2000709c","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x20002630","name":"xFreeBytesRemaining","type":5},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x08019930","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x08019924","name":"xHelpCommand.pcCommand","type":5},{"address":"0x08019928","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x0801992c","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x2000262c","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x200000f0","name":"xNextTaskUnblockTime","type":5},{"address":"0x20007100","name":"xNumOfOverflows","type":6},{"address":"0x200070ac","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x200070a8","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x200070b4","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x200070b8","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x200070b0","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x20007768","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x2000776c","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x200000e4","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x200000e8","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x200070e4","name":"xSchedulerRunning","type":6},{"address":"0x2000261c","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x20002620","name":"xStart.xBlockSize","type":5},{"address":"0x200070d4","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x200070d0","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x200070dc","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x200070e0","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x200070d8","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x200070c0","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x200070bc","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x200070c8","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x200070cc","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x200070c4","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x20007074","name":"xTickCount","type":5},{"address":"0x20001b58","name":"xTimer","type":5},{"address":"0x20007194","name":"xTimerQueue","type":5},{"address":"0x200070f0","name":"xYieldPending","type":6},{"address":"0x20001b70","name":"Zero_Drift","type":9},{"address":"0x080198dc","name":"zerocalCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080198d0","name":"zerocalCommandDefinition.pcCommand","type":5},{"address":"0x080198d4","name":"zerocalCommandDefinition.pcHelpString","type":5},{"address":"0x080198d8","name":"zerocalCommandDefinition.pxCommandInterpreter","type":5}],"expand":false,"filename":"H26R0x.elf","exeModifiedTime":1633031350693,"configLastUpdate":1633037714117},{"id":"da681b0f.62bbb8","type":"ui_group","z":"","name":"weight","tab":"9e7dfbb2.64bfd8","order":1,"disp":true,"width":10,"collapse":false},{"id":"443a2b78.e12064","type":"ui_group","z":"","name":"Load Cell","tab":"9e7dfbb2.64bfd8","order":2,"disp":true,"width":10,"collapse":false},{"id":"6acbdb39.cd13f4","type":"ui_group","z":"","name":"Stream","tab":"9e7dfbb2.64bfd8","order":4,"disp":true,"width":10,"collapse":false},{"id":"47e8acc8.d34184","type":"ui_group","z":"","name":"Sample","tab":"9e7dfbb2.64bfd8","order":3,"disp":true,"width":10,"collapse":false},{"id":"9e7dfbb2.64bfd8","type":"ui_tab","z":"","name":"Load Cell","icon":"dashboard","disabled":false,"hidden":false}]